:root {
    --cBlanco: #ffffff;
    --cOscuro: #000000;
    --gris: #e1e1e1;
    --blueD: #4a2dea;
    --blue: #3b5cd3;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

li {
    list-style-type: none;
}

/* header */

header {
    background-color: var(--blueD);
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 1rem;
    color: var(--cBlanco);
}


/* Form */

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}



fieldset {
    background-color: var(--blue);
}

.form fieldset {
    border: none;
    border-radius: 5rem
}

.form {
    width: min(70rem, 100%);
}

.list {
    display: grid;
    padding: 2rem;
}

.campos {
    display: grid;
    grid-template-columns: 15rem 45rem;
    padding-bottom: 2rem;
}

.list label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: var(--cBlanco);
    padding-right: 2rem;
}


.list--checkbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}



/* footer */

.footer p {
    text-align: center;
    font-weight: bold;
}