/* Globales */
:root {
    --white: #ffffff;
    --primaryColor: #969899;
    --primaryColorD: #6b6c6c;
    --secondaryColor: #9fe4e9;
    --colorForm: #3e4188;
    --PrincipalFont: 'Courier New', Courier, monospace;
    --otherFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    background-image: linear-gradient(to top, #C5C6C6 0%, var(--white) 100%);
}

a {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--otherFont);
}

p {
    font-family: var(--otherFont);
}


h2 {
    font-family: var(--otherFont);
}

h3 {
    font-family: var(--otherFont);
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.margin--top {
    margin-top: 2rem;
}


/* Tamaño maximo para todos los elementos */
.container {
    width: min(80%, 120rem);
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* Header */

/* Tamaño del header  */

.header {
    background-color: var(--primaryColor);
    margin-bottom: 2rem;
}


.logo {
    position: relative;
    font-family: var(--PrincipalFont);
    font-weight: 700;
    color: var(--white);
}


.navegation__link {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 1rem;
    color: var(--white);
}



@media (max-width: 767px) {
    .navegation__link {
        display: block;
        border-bottom: solid .2rem var(--primaryColorD);
    }

    .navegation__link:hover {
        color: var(--secondaryColor);
    }
}

@media (min-width: 768px) {
    .navegation {
        display: flex;
        gap: 2rem;
    }

    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegation__link::after {
        content: "";
        background-color: var(--primaryColorD);
        position: absolute;
        display: block;
        /* Cálculo para ser preciso en la animación con el tamaño del texto 
        (18px/1.8rem es el tamñano de la fuente de "a")*/
        width: calc(100% - 1.8rem);
        height: .4rem;
        top: 2rem;
        opacity: 0;
        transition: all 300ms ease-in-out;
    }

    .navegation__link:hover::after {
        content: "";
        background-color: var(--primaryColorD);
        position: absolute;
        display: block;
        width: calc(100% - 1.8rem);
        height: .4rem;
        top: 6rem;
        opacity: 1;
        transition: all 300ms ease-in-out;
    }
}




/* Main */


.services__service .iconos {
    height: 10rem;
    width: 10rem;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services h3 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 3rem;
}

.services__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.services__service p {
    line-height: 2.5rem;
    text-align: center;
}

.section-Services {
    margin-bottom: 2rem;
}


.section--aboutUs {
    border-top: solid .2rem var(--primaryColorD);
    border-bottom: solid .2rem var(--primaryColorD);
}


@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .shadow {
        -webkit-box-shadow: -2px 5px 33px 0px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: -2px 5px 33px 0px rgba(0, 0, 0, 0.42);
        box-shadow: -2px 5px 33px 0px rgba(0, 0, 0, 0.42);
        border-radius: 1rem;
    }

    .aboutUs__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 2rem;
    }

}


/* Section form  */

.section-form h3 {
    padding-top: 2rem;
    
}

.section-form {
    background-color: var(--white);
    padding-bottom: 2rem;
}

.form {
    background-color: var(--colorForm);
    margin: 0 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.form fieldset {
    border: none;
    font-size: 2rem;
    font-family: var(--otherFont);

}


.form label {
    text-transform: uppercase;
    color: var(--white);
}


.fields {
    margin-bottom: 1.5rem;
}

.input {
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.button {
    border: none;
    background-color: var(--primaryColorD);
    color: var(--white);
    cursor: pointer;
    padding: 1.2rem;
    border-radius: 1rem;
}

.button:hover {
    background-color: var(--primaryColor);
}

@media (max-width: 767px) {
    .button {
        width: 100%;
    }
}

@media (min-width: 768px) {

    .fields {
        display: flex;
    }

    .fields label {
        text-align: right;
        flex: 0 0 9rem;
    }

    .fields .input {
        flex: 1;
        margin-left: 3rem;
    }

    .button-rigth {
        display: flex;
        justify-content: end;
    }

}



/* Footer */

.footer p{
    font-family: var(--otherFont);
    font-weight: 700;
}