// Tipografia
$fuente_principal: 'Almarai', sans-serif;;


// colores
$rosa: #ff3b7c;
$azulOscuro: #1b4290;
$negro: #000;
$blanco: #FFF;
$gris: #bcbcbc;

// tamaño de MedaiQueries 

$lit-phone: 320px;
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;